.sign_up {
  display: flex;
  position: relative;
}
.overlay {
  position: absolute;
  width: 642px;
  height: 1024px;
  left: 0px;
  top: 0px;
  background: rgba(21, 101, 216, 0.9);
}

.game_logo {
  position: absolute;
  width: 106px;
  height: 57px;
  left: 89px;
  top: 61px;
}
.symbol {
  position: absolute;
  width: 28px;
  height: 117px;
  left: 82px;
  top: 300px;
  font-family: "Gayathri";
  font-size: 96px;
  color: #00daf7;
}

.game_desc {
  position: absolute;
  width: 420px;
  height: 160px;
  left: 82px;
  top: 360px;
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  color: #ffffff;
}

.gamer {
  position: absolute;
  width: 124px;
  height: 38px;
  left: 82px;
  top: 600px;
  font-family: "Arial";
  font-weight: 200;
  font-size: 20px;
  line-height: 38px;
  color: #ffffff;
}
.vector {
  position: absolute;
  width: 33.5px;
  height: 33px;
  left: 485px;
  top: 639px;
  background: url("../../images/Vector.png");
}

.back {
  padding: 50px;
  font-size: 16px;
  line-height: 19px;
  color: #8692a6;
  border: none;
  height: 64px;
  background: transparent;
  font-family: "Arial";
  font-style: bolder;
  font-weight: 700;
}

.sign_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 150px;
}

.form_sign_title {
  width: 415px;
  height: 36px;
  font-family: "Arial";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;

  color: #000000;
}

.form_sign_desc {
  width: 350px;
  height: 56px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #8692a6;
  margin-top: -0px;
}

input {
  padding: 20px;

  width: 426px;
  height: 20px;

  margin-top: 10px;
  border: 1px solid #8692a6;
  border-radius: 6px;
}

#checked {
  margin-left: -200px;
  vertical-align: sub;
}

.label {
  margin-left: -200px;
  color: #696f79;
}

.or {
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  color: #bababa;
}

.go_to_login {
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  border: none;
}

.login_button {
  height: 64px;
  border: none;
  background: transparent;
  color: #000000;
  font-family: "Arial";
  font-style: bolder;
  font-weight: 700;
  font-size: 18px;
}

.google {
  vertical-align: middle;
  margin-right: 145px;
  margin-left: 40px;
}

.error {
  margin-top: 10px;
  font-size: large;
  color: red;
}

button {
  cursor: pointer;
}
